<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprar Produto</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/" class="active">Produto</a>
    <a href="/payments">Pagamentos</a>
  </nav>
  
  <div class="contaner">
    <div class="item">
      <div class="imagem">
        <img src="/images/produto1.png" alt="Produto para venda">
      </div>
      <div class="detalhes">
        <div class="descricao">
          <h2>Carrinho de compras</h2>
          <p>Muito vendido, confia!</p>
          <h3>R$: 15.99</h3>
          <h4>ou em 5x de R$ 7.99 <span>contar</span> juros</h4>
        </div>

        <div class="chegada">
          <p>Chegará em breve, se nada der errado</p>
        </div>

        <div class="quantidade">
          <p>Quantidade: 1 <span>(930 unidades disponíveis)</span></p>
          <p>Você não é dono de supermercado e portanto não pode comprar mais que 500 unidades</p>
        </div>

        <div class="comprar">
          <a target="_blanck" href="/pay/IGYOQAOSDBUPOWZZ">Comprar Agora</a>
        </div>  
      </div>
    </div>  
  </div>

</body>
</html>